* {
  box-sizing: border-box;
  color: #fefcfb;
}

body {
  margin: 10px;
  font-family: system-ui, sans-serif;
  background-color: #1282a2;

}

.display{
  display: inline-flex;
  background: #034078;
}
svg{
  color: #0a1128;
  margin: 2px;
}
input{
  font-size: larger;
  color: #0a1128;
  border: none;
  
}